{{!-- Action notification --}}
{{#if flash.deletedUserName}}
<div id="flash-alert" class="alert alert-success text-center w-25 mx-auto my-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span>Đã xóa người dùng <strong>{{flash.deletedUserName}}</strong></span>
</div>
{{/if}}

<div class="container my-3">
    <h4 class="my-5 text-primary text-center text-uppercase">Danh sách người dùng</h4>
    <a class="btn btn-success btn-sm my-4" href="/add">Thêm người dùng</a>
    <p>Chọn một người dùng để xem chi tiết</p>
    {{!-- Table users --}}
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.id}}</td>
                <td><a href="user/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.gender}}</td>
                <td>{{this.status}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#updateUserModal"
                        data-id="{{this.id}}">Chỉnh sửa</button>
                    <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#confirmDeleteModal"
                        data-id="{{this.id}}" data-name="{{this.name}}">Xóa</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>Tổng số người dùng: <strong class="text-danger">60</strong></p>
    {{!-- Pagination --}}
    <div class="d-flex justify-content-center">
        <nav aria-label="">
            <ul class="pagination">
                <li class="page-item {{ disabledPreviousBtn currentPage }}">
                    <a class="page-link" href="home?page={{ minus currentPage 1 }}&per_page=20">Previous</a>
                </li>

                {{#each (pageNumbers totalPage) as |value key|}}
                <li class="page-item {{ isCurrentPage value ../currentPage }}" aria-current="page">
                    <a class="page-link" href="home?page={{value}}">{{value}}</a>
                </li>
                {{/each}}

                <li class="page-item {{ disableNdextBtn currentPage totalPage }}">
                    <a class="page-link" href="home?page={{ add currentPage 1 }}&per_page=20">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- Confirm delete -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xóa người dùng</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Bạn có chắc rằng muốn xóa <strong></strong>?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <form action="/?_method=DELETE" method="post">
                    <input type="hidden" id="id" name="id" value="">
                    <input type="hidden" id="name" name="name" value="">
                    <button id="delete-user-btn" type="submit" class="btn btn-danger">Xóa</button>
                </form>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
<!-- End Confirm delete -->


<!-- Update user -->
<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="update-user-form" action="update?_method=PUT" method="post">
                <input type="hidden" id="hidden-user-id" name="id" value="">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật thông tin người dùng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="user">Họ tên</label>
                        <input value="" class="form-control" type="text" placeholder="Nhập tên người dùng" id="name"
                            name="name">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="gender-male" name="gender" value="male">
                            <label class="custom-control-label" for="gender-male">Nam</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="gender-female" name="gender" value="female">
                            <label class="custom-control-label" for="gender-female">Nữ</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input value="" class="form-control" type="text" placeholder="Nhập email" id="email"
                            name="email">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input id="status-switch" type="checkbox" class="custom-control-input">
                            <label id="status-label" class="custom-control-label" for="status-switch"><b></b></label>
                            <input id="status-hidden-input" type="hidden" name="status" value="inactive">
                        </div>
                    </div>
                    <div class="alert alert-danger d-none">
                        Vui lòng nhập đầy đủ thông tin
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Update user -->